/* Roboto Slab - Thin */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Roboto Slab - ExtraLight */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Roboto Slab - Light */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Roboto Slab - Regular */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto Slab - Medium */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Roboto Slab - SemiBold */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Roboto Slab - Bold */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Roboto Slab - ExtraBold */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Roboto Slab - Black */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Manrope - ExtraLight */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Manrope - Light */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Manrope - Regular */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Manrope - Medium */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Manrope - SemiBold */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Manrope - Bold */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Manrope - ExtraBold */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --bg-color: #FFFFFF;
  --bg-header-color: #F8EBC9;
  --primary-font: 'Roboto Slab', serif;
  --secondary-font: 'Manrope', sans-serif;
  --color-text: #0E1412;
  --color-active: #FD6038;
}


/* Áp dụng font mặc định */
body {
  font-family: 'RobotoSlab', serif;
  padding: 0;
  margin: 0;
    user-select: none; /* Chrome, Safari, Opera */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 5.333333333%;
  }
}

/* CSS Header */
header {
  background: var(--bg-header-color);
  font-family: var(--secondary-font);
  /* width: 100%; */
  padding-top: 30px;
  /* padding-bottom: 73px; */
  padding-bottom: 30px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  header {
    line-height: 24px;
    font-size: 14px;
  }
}

.container-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
    width: 84px;
    height: 67px;
    cursor: pointer;
}

.header-logo-img {
    width: 84px;
    height: 67px;
}

.nav-menu {
    display: flex;
    gap: 39px;
    padding: 0 20px;
    list-style: none;
    margin: 0;
}

.nav-menu li {
  position: relative;
}

.nav-menu > li > a:hover {
    color: var(--color-active);
}

.nav-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    color: #0E1412;
    width: fit-content;
}
.nav-menu li:nth-child(5) > a {
  color: var(--color-active);
  font-weight: 600;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 160px;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
}


.sub-menu > li >  a {
  padding: 10px;
  color: var(--bg-color);
}

.dropdown:hover .sub-menu {
  display: block;
  background:var(--color-text);
}

.sub-menu > li:hover{
  background: var(--bg-color);
}

.sub-menu > li:hover > a{
  color: var(--color-active);
}


/* mobile */
#menu-toggle {
  display: none;
}

.menu-button-container {
  display: none;
  width: 30px;
  height: 22px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 101;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 2px;
  width: 18px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media (max-width: 768px) {
  header {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .header-logo {
    display: none;
  }

  .container-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    font-size: 10px;
    line-height: 16px;
  }

  .contact-phone {
    font-size: 12px;
    line-height: 20px;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-header-color);
    gap: 10px;
    padding: 0;
  }

  .nav-menu li {
    margin: 0;
    width: 100%;
  }

  .nav-menu a {
    display: block;
    padding: 10px 40px;
    text-align: center;
    /* width: 100%; */
    border-radius: 0;
    display: flex;
    gap: 6px;
    justify-content: space-between;
  }

  .menu-button {
    margin-top: 6px;
  }

  .menu-button-container {
    display: flex;
    margin-top: 6px;
  }

  #menu-toggle:checked~.nav-menu {
    max-height: 500px;
    gap: 0;
    z-index: 999;
  }

  #menu-toggle:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .dropdown .sub-menu {
    display: none;
    flex-direction: column;
    background: var(--bg-header-color);
    width: 100%;
    position: relative; /* để không bị overlay */
  }

  /* Khi hover vào parent, hiển thị sub-menu */
  .dropdown:hover .sub-menu {
    display: flex;
  }

  /* Tăng khoảng cách cho item sub-menu */
  .sub-menu li a {
    padding: 10px 40px;
    text-align: left;
  }

  /* Icon mũi tên quay xuống khi hover */
  .dropdown:hover > a i {
    transform: rotate(180deg);
    transition: 0.3s;
  }
}
/* end mobile */
.contact-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

@media screen and (max-width: 992px) {
  .contact-phone {
    font-size: 14px;
    line-height: 24px;
  }
}

/* header */
#contact {
  margin: 40px auto;
}

.form-header {
  max-width: 64%;
}

@media (max-width: 768px) {
  .form-header {
    max-width: 100%;
  }
}


.form-header h1 {
  margin-bottom: 18px;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  font-family: 'RobotoSlab', serif;
}

@media (max-width: 1200px) {
  .form-header h1 {
    font-size: 38px;
    line-height: 26px;
  }
}

@media (max-width: 992px) {
  .form-header h1 {
    font-size: 35px;
    line-height: 22px;
  }
}


@media (max-width: 768px) {
  .form-header h1 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}


.form-header p {
  margin-top: 0;
  color: #586863;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: 'Manrope', sans-serif;
}

@media (max-width: 1200px) {
  .form-header p {
    font-size: 17px;
    line-height: 26px;
  }
}

@media (max-width: 992px) {
  .form-header p {
    font-size: 17px;

  }
}

@media (max-width: 768px) {
  .form-header p {
    font-size: 10px;
    line-height: 16px;
  }
}


.formContact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-row {
  display: flex;
  gap: 30px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group label {
  margin-bottom: 12px;
  color: #0E1412;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

@media (max-width: 1200px) {
  .form-group label {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .form-group label {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .form-group label {
    font-size: 18px;
    margin-bottom: 12px;
  }
}



.form-group input,
.form-group select,
.form-group textarea {
  padding: 20px;
  border: 1px solid #BECCC7;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  color: #586863;
}

@media (max-width: 1200px) {

  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 19px;
    font-size: 17px;
  }
}

@media (max-width: 992px) {

  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 18px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {

  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 20px;
    font-size: 18px;
  }
}



.form-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px;
  background: url('../assets/images/contact/dropdown.png') no-repeat right 12px center;
  background-size: 16px;
  padding-right: 40px;

}

.form-group select::after {
  content: url('../assets/images/contact/dropdown.png');
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}


.form-group textarea {
  min-height: 330px;
  resize: vertical;
}

@media (max-width: 1200px) {
  .form-group textarea {
    min-height: 300px;
  }
}

@media (max-width: 992px) {
  .form-group textarea {
    min-height: 260px;
  }
}


@media (max-width: 768px) {
  .form-group textarea {
    min-height: 148px;
  }
}


.full-width {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.btn-submit {
  background: #FD6038;
  color: #fff;
  border: none;
  padding: 15px 35px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  width: fit-content;
}

.btn-submit:hover {
  background: brown;
}

.map {
  margin-top: 100px;
  margin-bottom: 70px;
  border: none;
  border-radius: 6px;
}

.footer {
  border-top: 1px solid #BECCC7;
  padding-top: 28px;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer-left p {
  font-size: 14px;
  color: #586863;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  font-weight: 400;
}

.footer-logo {
  height: 40px;
}

.footer-right {
  display: flex;
  gap: 10px;
}

.social {
  background-color: #0E1412;
  padding: 14px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social:hover {
  background-color: #FD6038;
}


.footer-right .social img {
  display: block;
  transition: transform 0.2s ease;
}

.fb {
  width: 6px;
  height: 10px;
  padding: 14px 16px;
}

.lk {
  width: 10px;
  height: 10px;
  padding: 14px 14px;
}

.twitter {
  width: 12px;
  height: 10px;
  padding: 14px 13px;

}

.ig {
  width: 10px;
  height: 10px;
  padding: 14px 14px;
}

.footer-right .social img:hover {
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {

  .footer {
    display: none;
  }

  .footer-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-left {
    flex-direction: column;
  }
}




/* Responsive */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-actions {
    justify-content: center;
  }
}


.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .map-container {
    display: none;
  }

}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}