/* Roboto Slab - Thin */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Roboto Slab - ExtraLight */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Roboto Slab - Light */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Roboto Slab - Regular */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto Slab - Medium */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Roboto Slab - SemiBold */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Roboto Slab - Bold */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Roboto Slab - ExtraBold */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Roboto Slab - Black */
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Manrope - ExtraLight */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Manrope - Light */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Manrope - Regular */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Manrope - Medium */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Manrope - SemiBold */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Manrope - Bold */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Manrope - ExtraBold */
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/static/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #FFFFFF;
  --bg-header-color: #F8EBC9;
  --primary-font: 'Roboto Slab', serif;
  --secondary-font: 'Manrope', sans-serif;
  --color-text: #0E1412;
  --color-active: #FD6038;
}

body {
  font-family: var(--primary-font);
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text);
  background: var(--bg-color);
  max-width: 1440px;
  margin: 0 auto;
}


.container {
  padding: 0 4.6875%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 5.333333333%;
  }
}

/* CSS Header */
header {
  background: var(--bg-header-color);
  font-family: var(--secondary-font);
  width: 100%;
  /* padding: 30px 135px 73px; */
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.container-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* mobile */
/* Hamburger icon - góc phải */

/* Nav menu */
.nav {
  position: fixed;
  top: 0;
  left: -50%; /* ẩn menu */
  width: 50%;  /* chiếm nửa màn hình */
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  transition: left 0.3s ease;
  z-index: 45;
  padding: 60px 20px 20px 20px; /* padding trên cho icon */
}

/* Hamburger icon nằm trong menu, góc phải */
.mobile-menu-inside {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 50;
}

.mobile-menu-inside img {
  width: 30px;
  height: 30px;
}

/* Khi menu mở */
#menu-toggle:checked ~ .nav {
  left: 0;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.3);
  z-index: 40;
  cursor: pointer;
}

#menu-toggle:checked ~ .overlay {
  display: block;
}

/* Nav items */
.nav ul {
  list-style: none;
  padding: 0;
  margin-top: 50px; /* cách icon */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav ul li {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.nav ul li a, .submenu-label {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.nav ul li a:hover, .submenu-label:hover {
  color: #f45b25;
}

/* Sub-menu */
.nav ul li .sub-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
  margin-top: 10px;
  border-left: 2px solid #f45b25;
}

/* Khi sub-menu checked */
#submenu-toggle:checked ~ .sub-menu {
  display: flex;
}


/* ----- */

.header-logo {
  width: 84px;
  height: 67px;
  cursor: pointer;
}

.header-logo-img {
  width: 84px;
  height: 67px;
}

.nav-menu {
  display: flex;
  gap: 39px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  position: relative;
}

.nav-menu > li:hover > a{
  color: var(--color-active);
}

.nav-menu li:nth-child(1) > a{
  color: var(--color-active);
  font-weight: 600;
}
.nav-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-decoration: none;
  color: #0E1412;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  min-width: 160px;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
}

.sub-menu li a {
  padding: 10px;
  color: var(--bg-color);
}

.dropdown:hover .sub-menu {
  display: block;
  background:var(--color-text);
}

.sub-menu li:hover{
  background: var(--bg-color);
}

.sub-menu li:hover a{
  color: var(--color-active);
}

/* .nav-menu a:nth-child(1) {
  color: var(--color-active);
  font-weight: 600;
} */
/* 
.nav-menu a:hover {
  color: var(--color-active);--
  font-weight: 600;
} */

.contact-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

/* About Section */
.about-section {
  background-color: var(--bg-header-color);
  padding: 0px 135px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: 'RobotoSlab', serif;
}

.top-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: 'RobotoSlab', serif;
}

.about-section h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  width: 670px;
  text-align: center;
  font-family: 'RobotoSlab', serif;
}

.cta-button:hover{
  background: rgb(136, 38, 2);
}

.learn-more-button:hover{
  background: rgb(136, 38, 2);
}
.story-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 150px;
 
}

@media (max-width: 768px) {
  .story-container {
    padding-top: 30px;
  }
}

.story-container .container-description .cta-button {
  margin-top: 38px;
}


@media (max-width: 768px) {
  .story-container .container-description .cta-button {
    margin-top: 20px;
  }
}

/* text container */
.container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 40.085470085%;
  /* width: 470px; */
}

.sub-heading {
  text-align: center;
  color: #586863;

}

.section-heading {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 12px;
  font-family: 'RobotoSlab', serif;
}

.section-description {
  text-align: center;
  font-family: var(--secondary-font);
  color: #586863;
}

.service-list {
  font-family: 'RobotoSlab', serif;
  padding-left: 30px;
  margin-top: 20px;
}

.team-button:hover{
   background: rgb(136, 38, 2);
}

@media (max-width: 768px) {
  .service-list {
    padding-left: 15px;
    font-size: 14px;
    line-height: 30px;
  }
}


.story-container .sub-heading,
.story-container .section-heading,
.story-container .section-description {
  text-align: start;
}

.story-container .story-img-container {
  /* width: 570px;
  height: 570px;
  position: relative; */
}

.story-container .story-img-container .story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-container .story-img-container .story-mask-left {
  /* position: absolute;
  width: 114px;
  height: 158px;
  left: -57px;
  bottom: 110px; */
}

.story-container .story-img-container .story-mask-right {
  /* position: absolute;
  width: 20px;
  height: 220px;
  top: 0;
  right: 0; */
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-container .container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-container .container-description p {
  text-align: center;
}

.gallery-container .gallery-img-container {
  margin: 70px 0;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container .gallery-img-container .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-list-dot {
  margin-top: 55px;
  width: 6px;
  height: 6px;
  background-color: var(--color-text);
  border-radius: 50%;
  cursor: pointer;
}

.gallery-list-dot:first-child {
  background-color: var(--color-active);
}

.gallery-count-container {
  margin-top: 70px;
  background-color: #FED464;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

}

.gallery-count-container .count-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 0;
}

.count-number {
  font-weight: 800;
  font-size: 60px;
  line-height: 70px;
}

.count-label {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 30px;
}

/* Video */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.video-container .video-img-container {
  margin-top: 70px;
  position: relative;
  display: inline-block;
}

.video-container .video-img-container .video-img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.video-container .video-img-container .video-btn-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 100px;
  height: 100px;
}

/* Team */
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  /* margin-top: 150px; */
  background-color: var(--color-text);
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding: 100px 135px; */
}



.team-container .container-description .sub-heading {
  color: var(--color-active);
}

.custom-service .container-description .sub-heading {
  color: #586863;
}

.team-container .container-description .section-heading,
.team-container .container-description .section-description {
  color: #FFFFFF
}



.team-info-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-info-container .detail-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(33.333% - 20px);
}

.img-wrapper {
  position: relative;
  width: 370px;
  height: 370px;
  margin-bottom: 18px;
}

.team-info-container .detail-info-container .detail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-btn {
  color: white;
  background-color: var(--color-active);
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.img-wrapper:hover .detail-btn {
  opacity: 1;
}


/* custom-service */

.team-info-container .detail-info-container .detail-name {
  color: white;
  font-size: 22px;
  line-height: 32px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.team-info-container .detail-info-container .detail-position {
  color: #BECCC7;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--secondary-font);
  font-weight: 400;
}


.team-info-container .detail-info-container .detail-name {
  color: #FFF;
  font-family: 'Manrope', sans-serif;
}



.team-button {
  color: white;
  background-color: var(--color-active);
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
}

/* Award */
.awards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background-color: var(--bg-header-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.awards-container .container-description .sub-heading {
  color: #0E1412;
  font-family: 'Manrope', sans-serif;
}

.awards-img-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.awards-img {
  width: 23.076923076%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .awards-img {
    width: 90%;
  }
}

/* CTA */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
  background-color: #017848;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cta-container .container-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-container .container-description .sub-heading,
.cta-container .container-description .section-heading,
.cta-container .container-description .section-description {
  color: white;
}

.cta-button {
  color: white;
  background-color: var(--color-active);
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
  width: fit-content;
}

/* Footer */
footer {
  background-color: var(--color-text);
  padding-top: 100px !important;
  padding-bottom: 28px !important;
}

@media (max-width: 768px) {
  footer {
    padding-top: 30px !important;
    padding-bottom: 28px !important;
  }
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
}

.footer-nav {
  display: flex;
  gap: 70px;
  align-items: start;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-shrink: 0;
  max-width: 237px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-family: var(--secondary-font);
  gap: 24px;
}
.nav-list a:hover{
  color: var(--color-active);
}
.nav-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.nav-item {
  display: block;
  white-space: normal;
  word-break: break-word;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  color: #BECCC7;
}

.footer-map {
  width: 470px;
  height: 268px;
  position: relative;
}

.map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 24px;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--secondary-font);
  border: none;
  cursor: pointer;
  outline: none;
}
.map-btn:hover{
  background-color: #f45b25;
  color: #000;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #313D39;
  margin-top: 55px;
}

.footer-bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-top: 28px;
}

.footer-logo {
  width: 84px;
  height: 67px;
  cursor: pointer;
  flex: 1;
}

.footer-logo-img {
  width: 84px;
  height: 67px;
  object-fit: cover;
}

.copyright {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 24px;
  color: #BECCC7;
  font-weight: 400;
}

.footer-social {
  display: flex;
  gap: 12px;
}

.social {
  background-color:#313D39;
  padding: 14px 16px;
  max-width: 32px;
  max-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.25s;
}

.social:hover {
  background-color: #FD6038;
}

.footer-social .social img {
  display: block;
  transition: transform 0.2s ease;
}

.footer-social .social img:hover {
  transform: scale(1.1);
}

/* ========================================= */
/* CSS RESPONSIVE CHO MOBILE        */
/* ========================================= */

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
    line-height: 16px;
  }

  /* --- Header --- */
  header {
    padding: 30px 20px 0;
  }

  .nav-menu,
  .header-logo {
    display: none;
  }

  .mobile-menu {
    display: block;
    width: 18px;
    height: 16px;
    cursor: pointer;
  }

  .mobile-menu img {
    width: 18px;
    height: 16px;
    object-fit: cover;
  }

  .container-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    font-size: 10px;
    line-height: 16px;
  }

  .contact-phone {
    font-size: 12px;
    line-height: 20px;
  }

  /* --- About Section (Hero) --- */
  .about-section {
    padding: 40px 20px;
    gap: 6px;
  }

  .top-text {
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
  }

  .about-section p {
    font-family: var(--secondary-font);
    text-align: center;
    margin-top: 6px;
    width: 670px;
  }

  .about-section h1 {
    font-size: 30px;
    line-height: 35px;
    width: 100%;
  }

  .about-section p {
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    width: 100%;
    margin-top: 3px;
  }

  /* --- Story Section --- */
  .story-container {
    flex-direction: column;
    align-items: end;
    /* margin: 50px 20px; */
    gap: 30px;
  }

  /* @media (max-width: 768px) {
  .story-container {
    
    scale: 0.6;
  }
} */


  .container-description {
    gap: 0;
    width: 100%;
  }


  /* text container */
  .story-container .container-description {
    align-items: start;
  }

  .sub-heading {
    font-size: 12px;
    line-height: 21px;
    margin-top: 6px;
  }

  .section-heading {
    text-align: start;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 12px;
  }

  .section-description {
    font-size: 14px;
    line-height: 21px;
  }

  .story-container .story-img-container {
    /* width: 304px;
    height: 304px; */
  }

  .story-container .story-img-container .story-mask-left {
    /* width: 61px;
    height: 84px;
    bottom: 58px;
    left: -35px; */
  }

  .story-container .story-img-container .story-mask-right {
    /* width: 11px;
    height: 117px; */
  }

  /* --- Gallery Section --- */

  .gallery-container {
    margin: 0 20px 50px;
  }

  .gallery-container .gallery-img-container {
    width: 335px;
    height: auto;
    margin: 30px 0 0;
  }

  .gallery-list-dot {
    margin-top: 40px;
  }

  .gallery-count-container {
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .gallery-count-container .count-item-container {
    padding: 0;
  }

  .count-number {
    font-size: 60px;
    line-height: 70px;
  }

  .count-label {
    font-size: 18px;
    line-height: 30px;
  }

  /* --- Video Section --- */
  .video-container {
    margin-top: 50px;
    padding: 0 20px;
  }

  .video-container .section-heading {
    text-align: center;
  }

  .video-container .video-img-container {
    margin-top: 30px;
    width: 335px;
    height: auto;
  }

  .video-container .video-img-container .video-btn-img {
    width: 28px;
    height: 28px;
  }

  /* --- Team Section --- */
  .team-container {
    margin-top: 50px;
    padding: 40px 0;
    gap: 40px;
  }

  .team-container .container-description {
    align-items: center;
    padding: 0 20px;
  }

  .team-container .container-description .section-description {
    color: #BECCC7;
  }

  .team-info-container .detail-info-container {
    flex: 1 1 100%;
  }

  .img-wrapper {
    width: 100%;
    max-width: 370px;
    height: auto;
  }

  .team-button {
    display: block;
  }

  /* --- Awards Section --- */
  .awards-container {
    gap: 40px;
    padding: 50px 20px;
  }

  .awards-container .container-description {
    align-items: center;
  }

  .awards-img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /* --- CTA Section --- */
  .cta-container {
    padding: 50px 20px;
  }

  .cta-button {
    font-size: 10px;
    line-height: 18px;
    padding: 8px 20px;
  }

  /* --- Footer --- */
  footer {
    padding: 30px 20px;
  }

  .footer-container {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: center;
    gap: 40px;
  }

  .footer-nav {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .nav-list {
    align-items: start;
    gap: 24px;
  }

  .nav-item {
    text-align: start;
  }

  .footer-map {
    width: 100%;
    height: 191px;
  }

  .map-btn {
    font-size: 11px;
    line-height: 19px;
    padding: 5px 17px;
    left: 14px;
  }

  .footer-line {
    margin-top: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}





/* Blog Grid */
.blog-grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-family: 'Manrope', sans-serif;
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .blog-grid {
    /* width: 89.333333334%; */
  }
}



.blog-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33% - 10px);

}

/* Responsive */
@media (max-width: 768px) {
  .blog-grid {
    flex-direction: column;
  }

  .blog-card {
    width: 100%;
  }

  .filter-buttons {
    flex-wrap: wrap;
  }
}

.blog-card img {
  width: 100%;
  height: auto;
  display: block;
}



.blog-content {
  padding: 20px 0;
}

.blog-content h3 {
  color: #181D1F;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  max-width: 90%;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.author img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

/* Responsive */
@media (max-width: 768px) {
  .author img {
    width: 58px;
    height: 58px;
  }
}

.name {
  font-weight: bold;
  margin: 0;
  color: #0E1412;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

/* Responsive */
@media (max-width: 768px) {
  .name {
    font-size: 16px;
  }
}

.role {
  font-size: 0.9rem;
  color: #586863;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* Responsive */
@media (max-width: 768px) {
  .role {
    font-size: 14px;
  }
}

.blog-content h3 {
  font-size: 22px;
  margin: 10px 0;
}

.blog-content h3:hover{
  color: var(--color-active);
}

/* Responsive */
@media (max-width: 768px) {
  .blog-content h3 {
    font-size: 19px;
  }
}



.learn-more {
  color: #0E1412;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}

/* Responsive */
@media (max-width: 768px) {
  .learn-more {
    font-size: 16px;
  }
}

.head {
  padding-bottom: 150px;
}


@media (max-width: 768px) {
  .head {
    padding-bottom: 50px;
  }
}


.learn-more:hover {
  color: #FD6038;
}

.head .wrapperBlogHead {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 70px;
  margin-bottom: 70px;
}


@media (max-width: 768px) {
  .head .wrapperBlogHead {
    margin-bottom: 40px;
  }
}


.btnBottom {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.btnBottom .cta-button {
  font-size: 18px;
  padding: 15px 35px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .btnBottom {
    display: flex;
  }
}


@media (max-width: 768px) {
  .head .wrapperBlogHead .btn {
    display: none;
  }
}


.head .wrapperBlogHead .content .til {
  font-family: 'RobotoSlab', serif;
  font-weight: 800;
  font-size: 60px;
  color: #0E1412;
  margin: 10px 0;
  line-height: 1.2;
}


.head .wrapperBlogHead .content .tag {
  font-family: 'RobotoSlab', serif;
  color: #0E1412;
  margin: 5px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}


.head .wrapperBlogHead .content .des {
  color: #586863;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 768px) {
  .head .wrapperBlogHead .content .des {
    font-size: 14px;
    line-height: 21px;
  }
}



/* Responsive */
@media (max-width: 768px) {
  .head .wrapperBlogHead .content .til {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .hero-media {
    scale: 0.55;
    margin-top: -100px;
  }
}




.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 38px;
  background: var(--Yellow-Light, #F8EBC9);
  padding-bottom: 60px;
}

.hero-section .hero-content .top-text {
  color: #0E1412;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: 'RobotoSlab', serif;
  text-align: start;
}

.hero-section .hero-content .hero-description {
  color: var(--Dark, #0E1412);
  /* P1 */
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: start;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .hero-section .hero-content .hero-description {
    font-weight: 400;
    line-height: 17px;
    font-size: 10px;
    margin-top: 10px;
    max-width: 70%;
  }
}

.w-btnBanner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
  



.hero-heading {
  color: var(--Dark, #0E1412);
  /* H1 */
  font-family: 'RobotoSlab', serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 70px;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .hero-heading {
    font-size: 35px;
    line-height: 41px;
  }
}




@media screen and (max-width: 768px) {
  .hero-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-section {
    flex-direction: column;
    /* Đảo ngược thứ tự để text nằm trên */
    text-align: center;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 0;
    /* margin-top: 30px; */
    margin-top: -1px;
  }
}


.about-us-section {
  background: var(--Dark, #0E1412);
  display: flex;
  align-items: center;
  color: #FFF;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 73px;
}

@media screen and (max-width: 768px) {
  .about-us-section {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.about-image-container {}

@media screen and (max-width: 768px) {
  .about-image-container {
    display: none;
  }
}

.about-image-container .img-main {}

.absolute-yellow {}

.about-image-container .img-yellow-overlay {}

.about-content {

  color: #FFF;
}

.about-content .sub-heading {
  color: #FD6038;
  font-family: 'RobotoSlab', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;

}

.about-content .about-description {
  color: #BECCC7;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 18px;
}

@media (max-width: 768px) {
  .about-content .about-description {
    font-size: 14px;
    line-height: 21px;
  }
}

.about-content .about-heading {
  font-family: 'RobotoSlab', serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-top: 6px;
}

@media (max-width: 768px) {
  .about-content .about-heading {
    font-size: 30px;
    line-height: 36px;
  }
}

.stats {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 28px;
}

.stat-item .stat-number {
  color: var(--White, #FFF);
  /* text-align: center; */
  font-family: 'RobotoSlab', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}


@media (max-width: 768px) {
  .stat-item .stat-number {
    font-size: 19px;
  }
}

.stat-item .stat-label {
  color: #BECCC7;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 768px) {
  .stat-item .stat-label {
    font-size: 14px;
  }
}

.learn-more-button {
  background-color: #FD6038;
  display: inline-flex;
  padding: 15px 35px;
  align-items: flex-start;
  gap: 10px;
  color: #FFF;
  margin-top: 38px;
  border: none;
}


.custom-service {
  background-color: #ffffff;
}


@media (max-width: 768px) {
  .custom-service {
    margin-top: 0px;
  }
}


.custom-service .container-description .section-heading {
  color: #0E1412;
  font-family: 'RobotoSlab', serif;
}

.team-container .container-description .section-description {
  color: #BECCC7;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

.custom-service .container-description .section-description {
  color: #586863;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

@media (max-width: 768px) {
  .custom-service .container-description .section-description {
    font-size: 14px;
  }
}




.testimonial-section {
  /* width: 1170px;
    height: 845px;
    margin: 150px 135px; */

}

.containerTestimonial {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

@media (max-width: 768px) {
  .containerTestimonial {
    padding-top: 50px;
  }
}

.wrapptestimonial {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .wrapptestimonial {
    margin-bottom: 40px;
  }
}

.testimonial-intro h2 {
  width: 469;
  height: 104;
  font-family: 'RobotoSlab', serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  line-height: 52px;
  text-align: left !important;
  max-width: 450px;
}

.testimonial-intro p {
  color: #586863;
  font-family: 'RobotoSlab', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left !important;
}

.testimonial-navigation {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 26px;
}

@media (max-width: 768px) {
  .testimonial-navigation {

    display: none;
  }
}


.testimonial-navigation button {
  width: 48px;
  height: 48px;
}

.testimonial-navigation i {
  font-size: 20px;
}


.nav-button-next {
  background: #f45b25;
  border: none;
  color: #FFF;
}

.nav-button {
  background: #111;
  color: #FFF;
  border: none;
}

.testimonial-navigation >button:hover{
  background: var(--color-active) ;
}


.testimonials-slider-track {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 768px) {
  .testimonials-slider-track {
    flex-direction: column;
  }
}


.testimonial-card {
  width: 31.6239316235%;
  flex-shrink: 0;
  border: 1px solid #E6EFEC;
  background: #FFF;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .testimonial-card {
    width: 100%;
  }
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.client-info {
  margin: 30px 30px;
}

.client-image {
  border-radius: 85px;
  margin-bottom: 30px;
}

.client-image img {
  width: 64px;
  height: 64px;

}

.client-info .quote {
  /* width: 310px; */
  color: #586863;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .client-info .quote {
    font-size: 16px;
  }
}

.client-details h4 {
  color: #0E1412;
   font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

@media (max-width: 768px) {
  .client-details h4 {
    font-size: 18px;
  }
}


.client-details p {
  color: #586863;
   font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .client-details p {
    font-size: 14px;
  }
}

/* list-dot */
.list-dot {
  margin-top: 55px;
  text-align: center;
}

.list-dot span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 8px;
  border-radius: 50%;
  background: #111;
  cursor: pointer;
  transition: background 0.3s ease;
}

.list-dot span.active,
.list-dot span:first-child {
  background: #FD6038;
}

.list-dot span:hover {
  background: #FD6038;
}


.faq-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.faq-section {
  background-color: #FFFFFF;
  padding: 0 13.3680555555%;
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .faq-section {
    padding: 0 5.333333333%;
    padding-top: 50px;
  }
}



.container-faq-container {
  display: flex;
  flex-direction: column;
}

.faq-intro {
  text-align: center;
  margin-bottom: 70px;
}


@media (max-width: 768px) {
  .faq-intro {
    margin-bottom: 40px;
  }
}


.faq-intro p {
  color: #586863;
  text-align: center;
  font-family: 'RobotoSlab', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 768px) {
  .faq-intro p {
    font-size: 10px;
    margin-bottom: 5px;
    line-height: 17px;
  }
}


.faq-intro h2 {
  color: var(--Dark, #0E1412);
  text-align: center;
  font-family: 'RobotoSlab', serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}



@media (max-width: 768px) {
  .faq-intro h2 {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 30px;
  }
}


.faq-tabs a {
  text-decoration: none;
  display: inline-block;
  margin: 18px 30px 0;
  color: #0E1412;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 768px) {
  .faq-tabs a {
    font-size: 10px;
    margin: 0px 10px;
  }
}

.faq-tabs a:nth-child(1) {
  color: #FD6038;
}

.faq-tabs a:hover {
  color: #FD6038;
}

.accordion{
  list-style: none;
  padding: 0;
  margin: 0;
  background: var(--White, #FFF);
  box-shadow: 0 20px 70px 0 rgba(14, 20, 18, 0.07);;
}

.accordion-item {
  width: 100%;

}

.accordion-item .accordion--line {
  display: block;
  width: 100%;
  height: 1px;
  background: #DBE1E3;
  /* margin-top:30px; */
}

.accordion-item .accordion-header {
  padding: 30px;
}


@media (max-width: 768px) {
  .accordion-item .accordion-header {
    padding: 13px;
  }
}


.accordion-item .accordion-header i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #0E1412;
  color: #fff;
  font-size: 16px;
}

/* .accordion-item-active */
.accordion-item{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 6px;
}




@media (max-width: 768px) {
  .accordion-item-active {
    padding: 13px;
  }
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* margin: 0 30px 18px; */
  /* width: 670px; */
}


.accordion-header h3 {
  color: #0E1412;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@media (max-width: 768px) {
  .accordion-header h3 {
    font-size: 13px;
  }
}


.accordion-item-active i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color:var(--color-text);
  color: #fff;
  font-size: 16px;
}



@media (max-width: 768px) {
  .accordion-item-active i {
    scale: 0.55;
  }
}

.accordion-content {
  /* margin: 0 30px; */
  visibility: hidden;
  margin-top: 10px;
  line-height: 1.6;
  color: #555;
  overflow: hidden;
  background: #fff;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content p {
  color: #586863;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 92.2%;
  height: 57.69%;
}

.accordion-content h3,
.accordion-content p {
    margin: 0;
}


input[type="checkbox"]:checked + .accordion-header {
  background: var(--White, #FFF);
  box-shadow: 0 20px 70px 0 rgba(14, 20, 18, 0.07); /* nền trắng khi mở */
}

input[type="checkbox"]:checked + .accordion-header + .accordion-content {
 visibility: visible;
  max-height: 500px;
  padding: 15px 30px;
  background: var(--White, #FFF);
  box-shadow: 0 20px 70px 0 rgba(14, 20, 18, 0.07);
 
 
}

input[type="checkbox"]:checked + .accordion-header i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  background: var(--color-active);
}


@media (max-width: 768px) {
  .accordion-content p {
    font-size: 10px;
    line-height: 13px;
  }
}

.accordion-item .accordion--line {
  display: block;
  width: 100%;
  height: 1px;
  background: #DBE1E3;
  /* margin-top: 30px; */
}

.accordion-item .accordion-header {
  /* margin-top: 30px; */
}

.accordion-item .accordion-header i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: #0E1412;
  color: #fff;
  font-size: 16px;
}


@media (max-width: 768px) {
  .accordion-item .accordion-header i {
    scale: 0.6;
  }
}


@media (max-width: 768px) {
  .reverse-section {
    flex-direction: column-reverse;
  }
}


@media (max-width: 768px) {
  .story-mask-left {
    width: 100%;
  }
}



.custom-service .team-info-container .detail-info-container .img-wrapper .detail-btn {
  color: #000000;
  background-color: #fff;
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30px;
  opacity: 1;
  transition: opacity 0.3s;
}

.custom-service .team-info-container .detail-info-container .img-wrapper:hover .detail-btn {
    background-color: var(--color-active);
      color: white;
}