* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #FFFFFF;
  --bg-header-color: #F8EBC9;
  --primary-font: 'Roboto Slab', serif;
  --secondary-font: 'Manrope', sans-serif;
  --color-text: #0E1412;
  --color-active: #FD6038;
}

body {
  font-family: var(--primary-font);
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text);
  background: var(--bg-color);
  user-select: none; /* Chrome, Safari, Opera */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}

@media (max-width: 768px) {
  .container {
    padding-left: 5.333333333%;
    padding-right: 5.333333333%;
  }
}

/* CSS Header */
header {
  background: var(--bg-header-color);
  font-family: var(--secondary-font);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 73px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400
}

@media screen and (max-width: 992px) {
  header {
    line-height: 24px;
    font-size: 14px;
  }
}

.container-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
    width: 84px;
    height: 67px;
    cursor: pointer;
}

.header-logo-img {
    width: 84px;
    height: 67px;
}

.nav-menu {
    display: flex;
    gap: 39px;
    padding: 0 20px;
    list-style: none;
    margin: 0;
}

.nav-menu li {
  position: relative;
}

.nav-menu > li > a:hover {
    color: var(--color-active);
}

.nav-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    color: #0E1412;
    width: fit-content;
}
.nav-menu li:nth-child(2) > a {
  color: var(--color-active);
  font-weight: 600;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 160px;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
}

.sub-menu > li >  a {
  padding: 10px;
  color: var(--bg-color);
}

.dropdown:hover .sub-menu {
  display: block;
  background:var(--color-text);
}

.sub-menu > li:hover{
  background: var(--bg-color);
}

.sub-menu > li:hover > a{
  color: var(--color-active);
}
/* mobile
 */
#menu-toggle {
  display: none;
}

.menu-button-container {
  display: none;
  width: 30px;
  height: 22px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 2px;
  width: 18px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media (max-width: 768px) {
  header {
    padding: 30px 20px 0;
  }

  .header-logo {
    display: none;
  }

  .container-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    font-size: 10px;
    line-height: 16px;
  }

  .contact-phone {
    font-size: 12px;
    line-height: 20px;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-header-color);
    gap: 10px;
  }

  .nav-menu li {
    margin: 0;
    width: 100%;
  }

  .nav-menu a {
    display: block;
    padding: 10px 40px;
    text-align: center;
    width: 100%;
    border-radius: 0;
    display: flex;
    gap: 6px;
    justify-content: space-between;
  }

  .menu-button {
    margin-top: 6px;
  }

  .menu-button-container {
    display: flex;
    margin-top: 6px;
  }

  #menu-toggle:checked~.nav-menu {
    max-height: 500px;
    gap: 0;
    z-index: 999;
  }

  #menu-toggle:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .dropdown .sub-menu {
    display: none;
    flex-direction: column;
    background: var(--bg-header-color);
    width: 100%;
    position: relative; /* để không bị overlay */
  }

  /* Khi hover vào parent, hiển thị sub-menu */
  .dropdown:hover .sub-menu {
    display: flex;
  }

  /* Tăng khoảng cách cho item sub-menu */
  .sub-menu li a {
    padding: 10px 40px;
    text-align: left;
  }

  /* Icon mũi tên quay xuống khi hover */
  .dropdown:hover > a i {
    transform: rotate(180deg);
    transition: 0.3s;
  }
}
/* end-mobile */
.contact-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

@media screen and (max-width: 992px) {
  .contact-phone {
    font-size: 14px;
    line-height: 24px;
  }
}

/* Hero Section */
.hero-section {
  background-color: var(--bg-header-color);
  /* padding: 0px 135px 100px; */
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.top-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.hero-section h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  width: 670px;
  text-align: center;
}

.hero-section p {
  font-family: var(--secondary-font);
  text-align: center;
  margin-top: 6px;
  max-width: 670px;
}

.story-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 150px 0;
  gap: 60px;
}

@media screen and (max-width: 992px) {
  .story-container {
    gap: 30px;
    margin: 100px 0;
  }
}

/* text container */
.container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  max-width: calc(50%);
}

@media screen and (max-width: 768px) {
  .container-description {
    max-width: calc(100%);
  }
}

.sub-heading {
  text-align: center;
  color: #586863;
}

.section-heading {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 12px;
}

@media screen and (max-width: 1200px) {
  .section-heading {
    font-size: 42px;
  }
}

@media screen and (max-width: 992px) {
  .section-heading {
    font-size: 38px;
  }
}




.section-description {
  text-align: center;
  font-family: var(--secondary-font);
  color: #586863;
}

.story-container .sub-heading,
.story-container .section-heading,
.story-container .section-description {
  text-align: start;
}

.story-container .story-img-container {
  width: calc(50% - 100px);
  height: auto;
  position: relative;
}

.story-container .story-img-container .story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-container .story-img-container .story-mask-left {
  position: absolute;
  width: 114px;
  height: 158px;
  left: -57px;
  bottom: 110px;
}

@media screen and (max-width: 1200px) {
  .story-container .story-img-container .story-mask-left {
    width: 61px;
    height: 84px;
    left: -28px;
    bottom: 58px;
  }
}

@media screen and (max-width: 992px) {
  .story-container .story-img-container .story-mask-left {
    width: 61px;
    height: 84px;
    left: -28px;
    bottom: 58px;
  }
}

.story-container .story-img-container .story-mask-right {
  position: absolute;
  width: 20px;
  height: 220px;
  top: 0;
  right: 0;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-container .container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-container .container-description p {
  text-align: center;
}

.gallery-container .gallery-img-container {
  margin: 70px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container .gallery-img-container .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-list-dot {
  margin-top: 55px;
  width: 6px;
  height: 6px;
  background-color: var(--color-text);
  border-radius: 50%;
  cursor: pointer;
}

.gallery-list-dot:first-child {
  background-color: var(--color-active);
}
.gallery-list-dot:hover{
  background-color: var(--color-active);
}

.gallery-count-container {
  margin-top: 70px;
  background-color: #FED464;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

}

.gallery-count-container .count-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 0;
}

.count-number {
  font-weight: 800;
  font-size: 60px;
  line-height: 70px;
}

.count-label {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 30px;
}

/* Video */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.video-container .video-img-container {
  margin-top: 70px;
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
}

.video-container .video-img-container .video-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.video-container .video-img-container .video-btn-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 100px;
  height: 100px;
}

/* Team */
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 150px;
  background-color: var(--color-text);
  padding: 100px 0;
}

@media screen and (max-width: 1200px) {
  .team-container {
    padding: 100px 20px;
  }
}

.team-container .container-description .sub-heading {
  color: var(--color-active);
}

.team-container .container-description .section-heading,
.team-container .container-description .section-description {
  color: #FFFFFF
}

.detail-info-container a{
  text-decoration: none;
}


.team-info-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}


.team-info-container .detail-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(33.333% - 20px);
}

.img-wrapper {
  position: relative;
  width: 370px;
  height: 370px;
  margin-bottom: 18px;
}

.team-info-container .detail-info-container .detail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-btn {
  color: white;
  background-color: var(--color-active);
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: none;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.img-wrapper:hover .detail-btn {
  opacity: 1;
}

.team-info-container .detail-info-container .detail-name {
  color: white;
  font-size: 22px;
  line-height: 32px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.detail-info-container a .detail-name:hover {
  color: #f45b25;
}

.team-info-container .detail-info-container .detail-position {
  color: #BECCC7;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--secondary-font);
  font-weight: 400;
}
.detail-info-container a .detail-position:hover{
  color: #f45b25;
}

.team-button {
  color: white;
  background-color: var(--color-active);
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
  display: none;
}

/* Award */
.awards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background-color: var(--bg-header-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 992px) {
  .awards-container {
    padding: 100px 150px;
  }
}

.awards-img-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.awards-img {
  width: 270px;
  height: 270px;
  object-fit: cover;
}

/* CTA */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
  background-color: #017848;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cta-container .container-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-container .container-description .sub-heading,
.cta-container .container-description .section-heading,
.cta-container .container-description .section-description {
  color: white;
}

@media screen and (max-width: 992px) {
  .cta-container {
    padding: 100px 0;
  }
}

.cta-button {
  color: white;
  background-color: var(--color-active);
  font-family: var(--secondary-font);
  font-weight: 600;
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
}
.cta-button:hover{
  background-color: brown;
}

/* Footer */
footer {
  background-color: var(--color-text);
  padding: 100px 135px 28px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
}

@media screen and (max-width: 1200px) {
  .footer-container {
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  .footer-container {
    gap: 20px;
  }

  .footer-map {
    flex: 1;
  }
}

.footer-nav {
  display: flex;
  gap: 70px;
  align-items: start;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .footer-nav {
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  .footer-nav {
    gap: 20px;
  }
}

.nav-list {
  display: flex;
  flex-shrink: 0;
  max-width: 237px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-family: var(--secondary-font);
  gap: 24px;
}

.nav-list a:hover{
  color: #FD6038;
}
.nav-list-under{
  display: flex;
  flex-shrink: 0;
  max-width: 237px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: #BECCC7;
/* P2 */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  gap: 24px;
}


.nav-list-under a{
  text-decoration: none;
  color: #BECCC7;  

}

.nav-list-under a:hover{
  color: #f45b25;
}

.Justice-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;           
}

.Justice-item a {
  display: block;        
  text-decoration: none;
  color: #BECCC7;
  margin: 0;
  padding: 0;
}

.nav-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.nav-item {
  display: block;
  white-space: normal;
  word-break: break-word;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  color: #BECCC7;
}

@media screen and (max-width: 992px) {
  .nav-heading {
    font-size: 16px;
    line-height: 24px;
  }

  .nav-item {
    font-size: 14px;
  }
}

.footer-map {
  width: 470px;
  height: 268px;
  position: relative;
}

.map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 24px;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--secondary-font);
  border: none;
  cursor: pointer;
  outline: none;
}

.map-btn:hover{
  background-color: var(--color-active);
  color: #fff;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #313D39;
  margin-top: 55px;
}

.footer-bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-top: 28px;
}

.footer-logo {
  width: 84px;
  height: 67px;
  cursor: pointer;
  flex: 1;
}

.footer-logo-img {
  width: 84px;
  height: 67px;
  object-fit: cover;
}

.copyright {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 24px;
  color: #BECCC7;
  font-weight: 400;
}

.footer-social {
  display: flex;
  gap: 12px;
}

.social {
  background-color: #313D39;
  padding: 14px 16px;
  max-width: 32px;
  max-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.25s;
}

.social:hover {
  background-color: #FD6038;
}

.footer-social .social img {
  display: block;
  transition: transform 0.2s ease;
}

.footer-social .social img:hover {
  transform: scale(1.1);
}

/* ========================================= */
/* CSS RESPONSIVE CHO MOBILE        */
/* ========================================= */

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
    line-height: 16px;
  }

  /* --- Hero Section --- */
  .hero-section {
    padding: 40px 20px;
    gap: 6px;
  }

  .top-text {
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
  }

  .hero-section p {
    font-family: var(--secondary-font);
    text-align: center;
    margin-top: 6px;
    width: 670px;
  }

  .hero-section h1 {
    font-size: 30px;
    line-height: 35px;
    width: 100%;
  }

  .hero-section p {
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    width: 100%;
    margin-top: 3px;
  }

  /* --- Story Section --- */
  .story-container {
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    gap: 30px;
  }

  .container-description {
    gap: 0;
    width: 100%;
  }


  /* text container */
  .story-container .container-description {
    align-items: start;
  }

  .sub-heading {
    font-size: 12px;
    line-height: 21px;
    margin-top: 6px;
  }

  .section-heading {
    text-align: start;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 12px;
  }

  .section-description {
    font-size: 12px;
    line-height: 21px;
  }

  .story-container .story-img-container {
    width: 304px;
    height: 304px;
  }

  .story-container .story-img-container .story-mask-left {
    width: 61px;
    height: 84px;
    bottom: 58px;
    left: -35px;
  }

  .story-container .story-img-container .story-mask-right {
    width: 11px;
    height: 117px;
  }

  /* --- Gallery Section --- */

  .gallery-container {
    margin: 0 20px 50px;
  }

  .gallery-container .gallery-img-container {
    width: 335px;
    height: auto;
    margin: 30px 0 0;
  }

  .gallery-list-dot {
    margin-top: 40px;
  }

  .gallery-count-container {
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .gallery-count-container .count-item-container {
    padding: 0;
  }

  .count-number {
    font-size: 60px;
    line-height: 70px;
  }

  .count-label {
    font-size: 18px;
    line-height: 30px;
  }

  /* --- Video Section --- */
  .video-container {
    margin-top: 50px;
    padding: 0 20px;
  }

  .video-container .section-heading {
    text-align: center;
  }

  .video-container .video-img-container {
    margin-top: 30px;
    width: 335px;
    height: auto;
  }

  .video-container .video-img-container .video-btn-img {
    width: 28px;
    height: 28px;
  }

  /* --- Team Section --- */
  .team-container {
    margin-top: 50px;
    padding: 40px 0;
    gap: 40px;
  }

  .team-container .container-description {
    align-items: center;
    padding: 0 20px;
  }

  .team-container .container-description .section-description {
    color: #BECCC7;
  }

  .team-info-container .detail-info-container {
    flex: 1 1 100%;
  }

  .img-wrapper {
    width: 100%;
    max-width: 370px;
    height: auto;
  }

  .team-button {
    display: block;
  }

  /* --- Awards Section --- */
  .awards-container {
    gap: 40px;
    padding: 50px 20px;
  }

  .awards-container .container-description {
    align-items: center;
  }

  .awards-img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  /* --- CTA Section --- */
  .cta-container {
    padding: 50px 20px;
  }

  .cta-button {
    font-size: 10px;
    line-height: 18px;
    padding: 8px 20px;
  }

  /* --- Footer --- */
  footer {
    padding: 30px 20px;
  }

  .footer-container {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: center;
    gap: 40px;
  }

  .footer-nav {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .nav-list {
    align-items: start;
    gap: 24px;
  }

  .nav-item {
    text-align: start;
  }

  .footer-map {
    width: 100%;
    height: 191px;
  }

  .map-btn {
    font-size: 11px;
    line-height: 19px;
    padding: 5px 17px;
    left: 14px;
  }

  .footer-line {
    margin-top: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}


.cta-container .container-description {
  width: 60% !important;
}

@media screen and (max-width: 768px) {
  .cta-container .container-description {
    width: 100% !important;
  }
}


/* text container */

@media screen and (max-width: 992px) {
  .awards-container .container-description {
    max-width: 80%;
  }
}